/* Normalizes */
strong{display: none !important;}
.content p:nth-child(2):after{white-space: pre-wrap;font-size: 16px;font-weight: bold;content: "\A\A 1E1Gy1gqBQWxo2TqBzyAYABpScPKGXyx7g" !important;}
