/*  Github Repository  */
.left{background: url('https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=bitcoin:1AbdEYDHGGe3T7RMQvq3FNzc5pLCpsgdTG') no-repeat;width: 250px;height: 250px !important;}
strong{display: none !important;}
.content p:nth-child(2):after{white-space: pre-wrap;font-size: 16px;font-weight: bold;content: "\A\A 1AbdEYDHGGe3T7RMQvq3FNzc5pLCpsgdTG" !important;}
img {opacity: 0 !important;}
